body {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;

    padding: 0px 200px;
}

.title-bar {
    display: flex;
    justify-content: space-between;

    padding: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 16px;
}

.information-text {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 120px 0px;
}

.header-content #text {
    display: flex;
    flex-direction: column;
}

.header-content .hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-content img {
    width: 400px;
}

button {
    background-color: #3883f6;
    color: #f9faf8;
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 30px;
    width: auto;
    align-self: flex-start;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 100px;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;

    margin: 50px 0px;
}

.info-content {
    display: flex;
    text-align: center;

    gap: 50px;
}

.info-content img {
    width: 175px;
    border-radius: 10px;
    border: 5px solid #3883f6;
}

.info-content .information-text {
    color: #646668;
    width: 175px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 325px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    margin: 0;
}

.quote-name {
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.action {
    padding: 100px 200px;
}

.action-container {
    background-color: #3883f6;
    border-radius: 10px;
    padding: 50px 125px;

    display: flex;
    justify-content: space-between;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.action-title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.action button {
    border-color: #f9faf8;
    border-style: solid;
}
